@font-face {
    font-family: "main1";
    src: font_url("main/font/thinner.woff") format('woff');
}
@font-face {
    font-family: "main2";
    src: font_url("main/font/thin.woff") format('woff');
}
@font-face {
    font-family: "main3";
    src: font_url("main/font/middle.woff") format('woff');
}
@font-face {
    font-family: "main4";
    src: font_url("main/font/fat.woff") format('woff');
}
@font-face {
    font-family: "main5";
    src: font_url("main/font/fatter.woff") format('woff');
}

.side-bar {
  background-color: #202225;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  width: 70px;
  height: 100vh;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
}::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.main-body {
  user-select: none;
  flex: 1 1 auto;
  background: #36393f;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-height: 0;
}

.right-main {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.channels {
  background-color: #2f3136;
  flex-shrink: 0;
  width: 240px;
  display:flex;
  flex-direction: column;
  height: 100vh;
}

.main-right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.side-scroll-container {
  flex: 1;
  /* overflow-x: hidden; */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  user-select: none;
}

.user-actions {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: 52px;
  margin-bottom: 1px;
  padding: 0 10px;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  flex-shrink: 0;
  background: rgba(32,34,37,.3);
}

.user-icon {
  width: 30px;
  float: left;
  height: 30px;
  cursor: pointer;
  margin: 0 10px 0 0;
  flex-shrink: 0;
  position: relative;
  background-clip: padding-box;
  background-position: 50%;
  background-size: 100% 100%;
  border-radius: 50%;
}

.user-icon:hover {
  opacity: .8;
}

.channel-header {
  display: flex;
  flex: 0 0 auto;
  height: 48px;
  padding: 0 16px;
  position: relative;
  z-index: 1;
  align-items: center;
  box-shadow: 0 1px 0 rgba(32,34,37,.7), 0 2px 0 rgba(0,0,0,.06);
}

.chat-header {
  background: #36393f;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  flex: 0 0 auto;
  color: #fff;
  align-items: center;
  display: flex;
  height: 48px;
  padding: 0 8px 0 12px;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 2;
}

.chat-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.username {
  font-size: 18px;
  font-family: main4;
  margin-right: 4px;
  white-space: nowrap;
  color: #fff;
  user-select: none;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.home-icon {
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  background-color: rgb(47, 49, 54);
  cursor: pointer;
  text-decoration: none;
  background: #2f3136;
  height: 50px;
  flex-shrink: 0;
  width: 50px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-image: image_url('main/white_logo.png');
  background-clip: padding-box;
  background-position: 50%;
  background-size: 180%;
}

.home-icon:hover {
  border-radius: 15px;
  background-color: rgb(114, 137, 218);
  transition: border-radius 0.3s, background 0.3s;
  transition-timing-function: cubic-bezier(1, 3, 1, 0);
}

.home-icon img {
  height: 90px;
  width: 90px;
  position: relative;
  top: -20px;
  left: -20px;
  user-select: none;
  clip: rect(20px,20px,20px,20px);
}

.separator {
  content: " ";
  background: #2f3136;
  height: 2px;
  left: 20%;
  margin-right: 10px; 
  margin-left: 10px; 
  flex-shrink: 0;
}

.create-server {
  border-radius: 50%;
  border-style: dashed;
  border-width: 1px;
  font-size: 40px;
  font-weight: 300;
  height: 50px;
  text-align: center;
  transition: border-color .25s ease,color .25s ease;
  width: 50px;
  cursor: pointer;
  margin-top: 8px;
  background: #202225;
  border-color: #535559;
  color: #535559;
  font-family: main1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 10px;
}

.create-server:hover {
  border-color: hsla(0,0%,100%,.75);
  color: hsla(0,0%,100%,.75);
}

.channel-scroll-wrapper {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  position: relative;
}

.channel-overflow-container {
  padding-bottom: 20px;
  display: flex;
  overflow-y: scroll;
  min-height: 0;
  flex: 1 1 auto;
}::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.server {
  margin-top: 8px;
  margin-bottom: 0;
}

.channel-list {
  width: 100%
}

.text-channels-label {
  padding-top: 28px;
  position: relative;
}

.text-channels-label h3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  font-family: main3;
}

.text-channels-label div {
  user-select: none;
  box-sizing: border-box;
  height: 20px;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  width: 100%;
  color: #72767d;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: flex-start;
}

.text-channels-label button {
  font-family: main4;
  font-size: 22px;
  order: 2;
}

.text-channels-button:hover + #text-channels {
  color: #b9bbbe;
}

.text-channels-button:hover {
  color: #b9bbbe;
}

.channel {
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  color: #72767d;
  display: flex;
  flex-direction: row;
  height: 32px;
  margin: 1px 8px 1px 8px;
  overflow: hidden;
  padding: 0 8px;
  font-family: main4;
}

.channel:hover {
  background-color: #36393f;
  color: #b9bbbe;
}
.channel svg {
  display: block;
  margin-right: 4px;
  opacity: .6;
  width: 16;
  height: 16;
  flex-shrink: 0;
}

.channel-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  background-color: rgba(79,84,92,.6);
  color: #fff;
}

.selected:hover { 
  background-color: rgba(79, 84, 92, 0.6);
  color: #fff;
}

.fa-sign-out-alt {
  margin-right: 0;
  padding: 9px;
  opacity: .6;
}

.fa-sign-out-alt:hover {
  opacity: 1;
}

.actions-username {
  display: block;
  max-width: 140px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: main3;
}

.icon-name-wrapper {
  display: flex;
  align-items: center;
}

.server-name {
  flex: 1;
  font-size: 16px;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: main3;
  color: #fff;
}

.hash{
  top: 3px;
}

.message-list {
  width: 100%;
  padding-top: 20px;
  overflow-x: hidden;
}
  
.message-scroll-wrapper {
  padding-bottom: 20px;
  display: flex;
  overflow-y: scroll;
  min-height: 0;
  flex: 1 1 auto;
}

.message-wrapper {
    display: flex;
    flex: 1 1 auto;
    height: calc(100vh - 143px);
    position: relative;
}

.message {
  box-sizing: border-box;
  user-select: text;
  word-wrap: break-word;
  padding-bottom: 20px;
  padding-top: 21px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0 20px;
  border-top: 1px solid hsl(215, 13%, 26%);;
  border-bottom: 1px solid hsl(215, 13%, 26%);;
  margin-top: -1px;
}

.user-image {
  height: 40px;
  width: 40px;
  background-position: 50%;
  background-size: 100%;
  background-clip: padding-box;
  border-radius: 50%;
  margin-right: 20px;
  flex-shrink: 0;
  cursor: pointer;
  align-self: flex-start;
}

.user-image:hover {
  opacity: .8;
}

.username-time {
  display: flex;
  align-items:  baseline;
}

.username-time h4 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  font-family: main3;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  white-space: nowrap;
}

.username-time h4:hover {
  text-decoration: underline;
}

.username-time h5 {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: .3rem;
  color: hsla(0,0%,100%,.2);
  white-space: nowrap;
  font-family: main2;
}

.message span {
  display: contents;
}

.message-content {
  font-size: 0.9375rem;
  line-height: 1.3;
  user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #dcddde;
  font-family: main2;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.message img {
  width: 100%;
  height: auto;
}

.message iframe {
  width: 400px;
  height: 225px;
  margin-top: 8px;
}

.message-p-wrapper {
  display: block;
}
.username-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-border {
  border-top: 1px solid hsl(215, 13%, 26%);;
  border-bottom: 1px solid hsl(215, 13%, 26%);;
}

.chat-main {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-main-container {
  display: flex;
  justify-content: stretch;
}

.server-members {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: #2f3136;
  position: relative;
  height: calc(100vh - 48px);
  transition: transform 200ms ease-in-out;
}

.members-transition-right {
  transform: translateX(240px);
}

.server-members-container {
  width: 100%;
}

.server-members-container h3 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .08em;
  line-height: 20px;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 20px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: main3;
  color: hsla(0,0%,100%,.4);
}

.server-members-scroll {
  display: flex;
  overflow-y: scroll;
  min-height: 0;
}

.server-member {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  margin: 1px 8px 1px 8px;
  border-radius: 3px;
  cursor: pointer;
  height: 40px;
  color: #b9bbbe;
  overflow: hidden;
}

.server-member-status-indicator {
  border-color: #36393f;
  background-clip: padding-box;
  border: 2px solid #f6f6f7;
  border-radius: 999px;
  bottom: -4px;
  height: 10px;
  right: -2px;
  width: 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  border-color: #2f3136;
}

.server-member-img {
  margin: 0 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  background-clip: padding-box;
  background-position: 50%;
  background-size: 100%;
  background-image: image_url('main/blue.png');
}

.server-member span {
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: main3;
}

.server-member:hover {
  background-color: #36393f;
  color: #fff;
}

.serverSelected  {
  border-radius: 15px;
  background-color: rgb(114, 137, 218);
  position: relative;
}

.serverSelected .server-active-icon {
  content: " ";
  left: -15px;
  position: absolute;
  top: 50%;
  width: 10px;
  background: #fff;
  border-radius: 20px;
  height: 40px;
  margin-top: -20px;
  z-index: 99;
}

.hide-members {
  margin: 0 4px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-right: 10px;
  outline: inherit;
}

.leave-server-button {
  cursor: pointer;
      opacity: .45;
}
.leave-server-button:hover {
  opacity: 1;
}

.delete-channel-button {
  background-image: image_url('main/x-button.svg');
  cursor: pointer;
  height: 18px;
  opacity: .3;
  width: 18px;
  justify-self: end;
  margin-left: auto;
  flex-shrink: 0;
}

.delete-channel-button:hover {
  opacity: 1;
}

*{
  outline:none!important;
}

.voice-selected {
  color: #fff;
}

.voice-selected:hover {
  color: #fff;
}

.leave-voice-channel-button:hover {
  opacity: 1;
  background-color: rgb(37, 39, 43);
}

.leave-voice-channel-button {
  background-image: image_url('main/hangup.svg');
  align-items: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  opacity: .6;
  padding: 0;
  position: relative;
  width: 32px;
  flex-shrink: 0;
  position: relative;
  background-clip: padding-box;
  background-position: 50%;
  background-size: 81%;
  margin-right: 2px;
}

.voice-connected-popup  {
  align-items: center;
  background: rgb(43, 44, 49);
  border-bottom: 1px solid #36393f;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width:240px;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 16px;
}

.voice-connected-popup h4 {
  color: #43b581;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: main2;
}

.friends-online {
  color: hsla(0,0%,100%,.3);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 50px;
  word-wrap: normal;
  font-family: main4;
  margin-left: 10px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.dm-notification {
  margin-top: 0;
  margin-bottom: 8px;
  position: relative;
  transform: translate(-80px, 0);
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(1, 2, 1, 0);
}

.dm-notification.right {
  transform: translate(0, 0);
}

.dm-notification-badge {
  bottom: -2px;
  pointer-events: none;
  position: absolute;
  right: -2px;
  background-clip: padding-box;
  background-color: #f04747;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,.25), inset 0 1px 0 hsla(0,0%,100%,.15);
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  padding: 3px 6px;
  text-shadow: 0 1px 0 rgba(0,0,0,.25);
  text-transform: uppercase;
  font-family: main3;
}

#search-server-item:hover {
  background: rgba(79, 84, 92, 0.3);
  width: 100%;
}

#search-server-item {
  box-sizing: border-box;
  margin: 2px 0 0 0;
  width: 100%;
}

.search-results {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0px !important;
}

.search-results ul {
  height: 228px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#search-input {
  margin-bottom: 0px;
}

#search-bottom {
  padding: 0 20px;
  height: 48px;
}

.server-search-empty {
  font-family: main4;
  color: #87909c;
  font-size: 24px;
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

.server-search-pic {
  background-image: image_url('main/search.svg');
  background-size: 100% 100%;
  width: 100%;
  height: 228px;
}