.server-modal-content-wrapper {
  background-image: url(https://s3.amazonaws.com/discors-dev/Main/server-modal-left.png), url(https://s3.amazonaws.com/discors-dev/Main/server-modal-right.png);
  background-position: 0 100%,100% 100%;
  background-repeat: no-repeat;
  background-size: 155px auto,75px auto;
  height: 100%;
  width: 100%;
}

.server-modal-content {
  padding: 28px 40px 0;
}

.server-modal-content h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 6px;
  padding: 0;
  text-align: center;
  color: #7289da;
  font-family: main4;
}

.modal-create-server,
.modal-join-server {
  background: hsla(0,0%,100%,.75);
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
  border-radius: 3px;
  padding: 10px;
  width: 228px;
  box-sizing: content-box;
  font-family: main3;
  text-align: center;
  cursor: pointer;
}

.modal-join-server {
  margin-left: 16px;
}

.modal-create-join h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.modal-join-server {
  color: #3ca374;
}

.modal-create-server {
  color: #7289da;
}

.modal-join-server div {
  background-image: url(https://s3.amazonaws.com/discors-dev/Main/join-server.png);
  background-size: 178.5px 78px;
  height: 78px;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 26px 0;
  width: 100%;
  }

.modal-create-server div {
  background-image: url(https://s3.amazonaws.com/discors-dev/Main/create-server.png);
  background-size: 112px 78px;
  height: 78px;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 26px 0;
  width: 100%;
}

.modal-create-join p {
  color: #99aab5;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 16px;
  padding: 0 15px;
}

.modal-create-join {
  display: flex;
}

.modal-join-button,
.modal-create-button {
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 14px 20px;
  transition: background-color .2s ease;
  width: 100%;
  color: #fff;
  font-family: main4;
  text-align: center;
}

.modal-join-button {
  background-color: #3ca374;
}

.modal-create-button {
  background-color: #7289da;
}

.create-server-form {
  display: block;
  text-align: center;
  flex-direction: column;
  height: 420px;

}
.create-server-form h5 {
  color: #7289da;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 4px;
  font-family: main4;
}
.create-server-form p {
  color: #99aab5;
  padding: 10px 0;
  font-weight: 500;
  line-height: 1.2;
  font-family: main3;
  font-size: 18px;
  height: 100%;
}

.create-server-form-bottom {
  background-color: #f6f6f7;
  box-shadow: inset 0 1px 0 rgba(246,246,247,.6);
  padding: 18px 40px;
  height: 74px;
  box-sizing: border-box;
  margin-top: 18px;
  display: flex;
  justify-content: flex-end;
    
}

.create-server-form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.create-server-form-input label {
  color: #87909c;
  font-size: 11px;
  font-weight: 700;
  font-family: main3;
  text-align: left;
}

.create-server-form-input input[type="text"] {
  border-bottom-style: solid;
  border-radius: 0;
  border-width: 0 0 2px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
  padding-left: 4px;
  padding-right: 4px;
  padding: 10px;
  width: 100%;
  background: transparent;
  border-bottom-color: #f0f0f0;
  color: #2f3136;
  font-family: main3;
  box-sizing: border-box;
}

.create-server-form-input input[type="text"]::placeholder {
  color: #b1b3b7;
}

.create-server-form-input input[type="text"]:hover {
  border-color: #b9bbbe;
}

.create-server-form-input input[type="text"]:focus {
  border-color: #7289da;
}

#join-server-text-input:focus {
  border-color: #43b581;
}

.create-server-form-top {
  padding: 28px 40px 0;
}

.create-server-form-bottom button {
  background-color: #7289da;
  color: #fff;
  min-width: 96px;
  height: 38px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  line-height: 16px;
  padding: 2px 16px;
  position: relative;
  user-select: none;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: main3;
}

.create-server-form-bottom button:hover {
  background-color: #677bc4;
}

#join-server-button {
  background-color: #43b581;
}

#join-server-button:hover {
  background-color: #3ca374;
}

#join-server-header {
  color: #43b581;
}

#join-server-message {
  margin-bottom: 77px;
}

#server-errors {
  color: #f04747;
}

#server-errors span {
  font-family: main1;
  font-style: italic;
}

.or {
  background-position: 50%,50%;
  background-repeat: no-repeat;
  background-size: 52px,52px;
  font-size: 22px;
  font-weight: 500;
  height: 100%;
  left: 0;
  line-height: 415px;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-image: image_url('main/or.svg');
  font-family: main3;
  color: #99aab5;
}

.create-server-input-container {
  display: flex;
  margin-top: 42px;
  margin-bottom: 4px;
  justify-content: space-between;
}

.server-image-upload {
  border: 5px solid #ebebeb;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  flex-shrink: 0;
  height: 138px;
  margin-bottom: 10px;
  position: relative;
  transition: box-shadow .1s;
  width: 138px;
}

#icon-wrapper {
  background-color: #7289da;
  border: 5px solid #ebebeb;
  width: 138px;
  height: 138px;
}

#icon-container {
  width: 138px;
  margin-right: 50px;
  margin-left: 10px;
  height: 163px;
}

#icon-wrapper p {
    align-items: center;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    font-family: main3;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    white-space: pre;
    visibility: hidden;
    padding: 0;
}

#icon-wrapper:hover p {
  visibility: visible;
}
